@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --black: #444;
  --green: #27ae60;
  --dark-color: #219150;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  background: var(--green);
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background: var(--dark-color);
}

header .header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 9%;
  background: #fff;
}

header .header-1 .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .header-1 .logo i {
  color: var(--green);
}

header .header-1 .search-form {
  height: 5rem;
  width: 50rem;
  display: flex;
  align-items: center;
  background: #fff;
  border: var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
}

header .header-1 .search-form input {
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  color: var(--black);
  font-size: 1.6rem;
  text-transform: none;
}

header .header-1 .search-form label {
  padding-right: 1.5rem;
  color: var(--black);
  font-size: 2.5rem;
  cursor: pointer;
}

header .header-1 .search-form label:hover {
  color: var(--green);
}

header .header-1 .icons div,
header .header-1 .icons a {
  margin-left: 1.5rem;
  color: var(--black);
  font-size: 2.5rem;
  cursor: pointer;
}

header .header-1 .icons div:hover,
header .header-1 .icons a:hover {
  color: var(--green);
}

header .header-1 .icons #search-btn {
  display: none;
}

header .header-2 {
  background: var(--green);
}

header .header-2 .top-navbar {
  text-align: center;
}

header .header-2 .top-navbar a {
  display: inline-block;
  padding: 1.2rem;
  color: #fff;
  font-size: 1.7rem;
}

header .header-2 .top-navbar a:hover {
  background: var(--dark-color);
}

header .header-2.active {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.bottom-navbar {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--green);
  text-align: center;
  z-index: 10;
}

.bottom-navbar a {
  padding: 2rem;
  color: #fff;
  font-size: 2.5rem;
}

.bottom-navbar a:hover {
  background: var(--dark-color);
}

.login-form-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: -105%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.1;
  z-index: 10;
}

.login-form-container.active {
  right: 0;
  opacity: 1;
  z-index: 5;
}

.login-form-container form {
  width: 40rem;
  margin: 2rem;
  padding: 2rem;
  background: #fff;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.login-form-container form h3 {
  color: var(--black);
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.login-form-container form span {
  display: block;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.login-form-container form .box {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1rem 1.2rem;
  border: var(--border);
  border-radius: 0.5rem;
  color: var(--black);
  font-size: 1.6rem;
  text-transform: none;
}

.login-form-container form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.login-form-container form .checkbox label {
  color: var(--light-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.login-form-container form .btn {
  width: 100%;
  margin: 1.5rem 0;
  text-align: center;
}

.login-form-container form p {
  padding-top: 0.8rem;
  color: var(--light-color);
  font-size: 1.5rem;
}

.login-form-container form p a {
  color: var(--green);
  text-decoration: underline;
}

.login-form-container #close-login-btn {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  color: var(--black);
  font-size: 5rem;
  cursor: pointer;
}
